.menu {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: var(--light-grey-color);
}

.transformForFixedChildren {
    padding: 10px;
    z-index: 10;
    transform: scale(1);
}

.menuItem {
    padding: 5px;
    cursor: default;
}

.subMenu {
    padding-left: 10px;
}

.subMenu a {
    color: black;
    text-decoration: none;
}

.subMenuItem {
    padding: 0 2px;
    cursor: pointer;
}
