.locationName {
    text-align: center;
}

.locationDescription {
    padding: 0 20px;
}

.locationFeatures {
    display: flex;
    flex-wrap: wrap;
    line-height: 25px;
    padding: 0 20px;
}

.locationFeature {
    height: 20px;
    padding: 5px;
}

.locationFeature img {
    height: 100%;
    width: auto;
}

.locationDirections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px 0;
}

.locationDirectionsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    max-width: 30%;
    min-width: 300px;
}

.locationDirectionsItem img {
    height: 40px;
    width: auto;
    align-self: center;
}
