.footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--gray-color);
    min-height: 200px;
}

.footerPageImageContainer {
    padding: 20px;
    height: 150px;
}

.footerPageImageContainer img {
    height: 100%;
    width: auto;
    cursor: pointer;
}
